/*Format for the navigation bar to keep it always in its position*/

.NavFormat {
    z-index: 10;
    display: inline-block;
    position: fixed;
    float: none;
    outline: 0;
    width: 100%;
    top: 0%;
    left: 0%;
    font-size: calc(9px + 0.6vw);
    background-color: black;
    white-space: normal;
    overflow: hidden;
    border: none;
    text-align: left;
}

.NavFormatItem:hover {
    background-color: darkgrey!important;
}

.NavButton {
    border: none;
    vertical-align: middle;
    display: inline-block;
    user-select: none;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    white-space: normal;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
}


/*Format for a clickable button that is centered on the screen*/

.CenterButtons {
    position: relative;
    overflow: hidden;
    user-select: none;
    padding: 10px;
    display: block;
    text-align: center;
    width: calc(200px + 1vw);
    min-width: 20%;
    max-width: 90%;
    margin: auto;
    margin-top: 0.5%;
    font-size: calc(12px + 0.7vw);
}


/*When hovering over the button change the color and background*/

.CenterButtons:hover {
    background-color: white;
    color: black;
}


/*Style for the content to button shows if it shows content*/

.CenterContentHolder {
    display: none;
    text-align: center;
    margin: auto;
    width: calc(300px + 40vw);
    max-width: 95%;
    padding: 1px;
    margin-top: 0.3%;
    font-size: calc(13px + 0.6vw);
    border-radius: 10px;
}