/*Format for the navigation bar to keep it always in its position*/

.NavFormat {
    z-index: 9999;
    position: fixed;
    margin-top: 0%;
    padding: 0%;
}


/*Format for a clickable button that is centered on the screen*/

.CenterButtons {
    position: relative;
    overflow: hidden;
    user-select: none;
    padding: 1px;
    display: block;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 0.3%;
}


/*When hovering over the button change the color and background*/

.CenterButtons:hover {
    background-color: white;
    color: black;
}


/*Style for the content to button shows if it shows content*/

.CenterContentHolder {
    display: none;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    padding: 1px;
}