/*Format for the navigation bar to keep it always in its position*/

.NavFormat {
    z-index: 10;
    position: fixed;
    margin-top: 0%;
    padding: 0%;
    font-size: calc(9px + 0.6vw);
    color: white;
    background-color: black;
}

.HomeButton {
    position: fixed;
    width: calc(20px + 1.5vw);
    height: calc(20px + 1.5vh);
    margin-left: 0.5%;
    margin-top: 0%;
    padding: 0%;
}


/*Format for a clickable button that is centered on the screen*/

.CenterButtons {
    position: relative;
    overflow: hidden;
    user-select: none;
    padding: 10px;
    display: block;
    text-align: center;
    width: calc(200px + 1vw);
    min-width: 20%;
    max-width: 90%;
    margin: auto;
    margin-top: 0.5%;
    font-size: calc(12px + 0.7vw);
}


/*When hovering over the button change the color and background*/

.CenterButtons:hover {
    background-color: white;
    color: black;
}


/*Style for the content to button shows if it shows content*/

.CenterContentHolder {
    display: none;
    text-align: center;
    margin: auto;
    width: calc(300px + 40vw);
    max-width: 95%;
    padding: 1px;
    font-size: calc(13px + 0.6vw);
}