.CenterButtons {
    position: relative;
    overflow: hidden;
    user-select: none;
    padding: 1px;
    display: block;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 0.3%;
}

.CenterButtons:hover {
    background-color: white;
    color: black;
}