.FPageStyle {
    background-image: url(../Images/PersonProgramming.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.HeadingTextStyle {
    color: black;
    font-size: 30px;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.CenterButtons:hover {
    background-color: lightgrey;
}

.ButtonColors {
    background-color: darkgrey;
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}