/*Style to add a background image to the page, may remove this*/

.FPageStyle {
    background-image: url(../Images/PersonProgramming.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


/*Style for headers*/

.HeadingTextStyle {
    color: black;
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding: 20px;
    padding-top: 50px;
}


/*Overwrite the button center style to this one to match the page better*/

.CenterButtons:hover {
    background-color: lightgrey;
}


/*Style for coloring the buttons*/

.ButtonColors {
    background-color: darkgrey;
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}

.ButtonSize {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0.08%;
}

.ButtonContentColor {
    background-color: lightgrey;
    display: block;
    color: black;
    margin-left: 35%;
    margin-right: 35%;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
}

#BackgroundOverlay {
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
}

.Wrapper {
    position: relative;
    display: inline-block;
    margin: auto;
    height: 90%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.WarpperHelper {
    position: relative;
    display: block;
    margin: 0vw;
}

.ContentOverlay {
    background-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-radius: 10px;
}

.ContentLayoutLeft,
.ContentLayoutRight {
    color: black;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 49.7%;
    height: 100%;
    margin: auto;
    margin-top: 0.2%;
    user-select: none;
    overflow-wrap: break-word;
    z-index: 1;
    float: left;
}

.ContentTextFormat {
    text-align: center;
    font-size: 100%;
}

.ContentLayoutRight {
    float: right;
    /*background-color: blue;*/
}

#footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.HeaderContraints {
    max-width: 100%;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 1%;
    font-size: calc(10px + 1.4vw);
}

p {
    font-size: calc(16px + 0.1vw);
}