.FPageStyle {
    background-image: url(../Images/PersonProgramming.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.HeadingTextStyle {
    color: black;
    font-size: 30px;
    text-align: center;
}