 /*Will move all of this into its own css file for text. Will leave it here for now*/
 
 .Large-Text-Controller {
     font-size: 35px;
 }
 
 .Mid-Text-Controller {
     font-size: 25px;
 }
 
 .Small-Text-Controller {
     font-size: 20px;
 }
 
 .Footer-Text-Controller {
     font-size: 15px;
 }
 
 @media only screen and (min-width: 601px) {
     .Mid-Text-Controller {
         font-size: 30px;
     }
 }
 
 @media only screen and (max-width: 600px) {
     .Mid-Text-Controller,
     .Large-Text-Controller {
         font-size: 25px;
     }
 }
 
 @media only screen and (max-width: 400px) {
     .Mid-Text-Controller,
     .Small-Text-Controller,
     .Large-Text-Controller {
         font-size: 15px;
     }
 }
 
 @media only screen and (max-width: 250px) {
     .Mid-Text-Controller,
     .Small-Text-Controller,
     .Footer-Text-Controller,
     .Large-Text-Controller {
         font-size: 10px;
     }
 }
 
 .Standard-Text {
     text-align: center;
     margin-left: 20%;
     margin-right: 20%;
 }